<footer class="expanded row text-center">
    <div class="large-5 large-centered medium-5 medium-centered small-12 columns">
        © Copyright <script>document.write(new Date().getFullYear())</script> Company Name
    </div>
</footer>