<section class="row">
    <div class="small-12 large-2 columns">
        <img alt="Logo" src="">
    </div>
    <div class="small-12 large-2 columns text-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#"><i class="fa fa-navicon fa-2x" aria-hidden="true"></i></a>
            <ul class="menu">
              <li>
                  <a href="/logout" class="button tiny">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
</section>
