<header>
  <div class='container-fluid'>
    <div class='row'>
      <div class="col-sm-12 col-md-2">
        <img alt="Logo" src="">
      </div>
      <div class="col-sm-12 col-md-2 pull-right text-right">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-navicon fa-2x" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>