<!DOCTYPE html>
<html>

<head>
  <title>Express Web Template</title>
  <link rel='stylesheet' href='dist/stylesheets/application.css' />
  <link rel='stylesheet' href='dist/stylesheets/style.css' />
</head>

<body>
  <% include ./partials/header %>
  <div class='row'>
    <i class="fa fa-smile-o"></i>
    <%- body %>
  </div>
  <% include ./partials/footer %>
  <script src="dist/javascripts/application.js"></script>
</body>

</html>